/* CSS Document */
.node rect {
      shape-rendering: crispEdges;
 }
.link {
      fill: none;
      stroke-opacity: 0.3;
}

.panel {
	border: thin,#000000;
	margin: 10%;
}

.toolbar {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}
